# Virtual environment
env_Harmonet/
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# Coverage reports
.coverage
coverage.xml
htmlcov/

# IDE / editor folders
.vscode/
.idea/
