asgiref==3.10.0
coverage==7.11.0
Django==5.2.8
sqlparse==0.5.3
dj-database-url==3.0.1
gunicorn==23.0.0
uvicorn==0.37.0
whitenoise==6.11.0
python-decouple==3.8
psycopg2-binary==2.9.10
spotipy==2.25.1
openai==2.6.1
django-sendgrid-v5