<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>"PLACEHOLDER" </title>
  <link rel="stylesheet" href="base.css" />
</head>
<body>
  <nav class="navbar">
    <div class="logo">"PLACEHOLDER" </div>
    <div class="auth-buttons">
      <button onclick="location.href='LoginPage.html'">"PLACEHOLDER" </button>
      <button class="signup" onclick="location.href='SignupPage.html'">"PLACEHOLDER" </button>
    </div>
  </nav>

  <header class="hero-section">
    <div class="hero-content">
      <h1>"PLACEHOLDER" </h1>
      <p>"PLACEHOLDER" !</p>
      <button onclick="location.href='SignupPage.html'">"PLACEHOLDER" </button>
    </div>
    <div class="hero-image">
      <img src="" alt=" IMAGE PLACEHOLDER" />
    </div>
  </header>

  <section class="features-section">
    <h2>"PLACEHOLDER" </h2>
    <div class="features-grid">
      <div class="feature-card">
        <h3>"PLACEHOLDER" </h3>
        <p> "PLACEHOLDER" </p>
      </div>
      <div class="feature-card">
        <h3>"PLACEHOLDER" </h3>
        <p>"PLACEHOLDER"  </p>
      </div>
      <div class="feature-card">
        <h3>"PLACEHOLDER" </h3>
        <p> "PLACEHOLDER" </p>
      </div>
    </div>
  </section>

  <footer class="footer">
    <p>&copy; 2025 Harmonet. All rights reserved.</p>
  </footer>
</body>
</html>