name: Pylint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - uses: actions/checkout@v3

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      # Install dependencies
      - name: Install dependencies
        run: |

          python -m pip install --upgrade pip
          pip install -r Harmonet/requirements.txt
          pip install pylint pylint-django django python-decouple

      # Set PYTHONPATH so pylint can find your Django package
      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=${GITHUB_WORKSPACE}/Harmonet/Harmonet" >> $GITHUB_ENV

      # Set DJANGO_SETTINGS_MODULE so pylint-django knows where to find settings
      - name: Set Django settings module
        run: echo "DJANGO_SETTINGS_MODULE=Harmonet.settings" >> $GITHUB_ENV

      # Run pylint with Django plugin
      - name: Run Pylint
        working-directory: ${{ github.workspace }}/Harmonet
        run: pylint Harmonet --load-plugins=pylint_django --output-format=text
