name: Pylint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - uses: actions/checkout@v3

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint pylint-django django python-decouple

      # Set PYTHONPATH so pylint can find your package
      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=${{ github.workspace }}/Harmonet/Harmonet" >> $GITHUB_ENV

      # Run pylint with Django plugin
      - name: Run Pylint
        run: pylint Harmonet \
              --load-plugins=pylint_django \
              --django-settings-module=Harmonet.settings \
              --output-format=text
